# --- Dependencies & Environment ---
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd

# --- Security (CRITICAL) ---
.env
.env.*

# --- Version Control & IDEs ---
.git
.gitignore
.vscode
.idea

# --- Docker Meta-files ---
Dockerfile
.dockerignore

# --- Testing Cache ---
.pytest_cache
.mypy_cache